<html>
<style>
form {
    border: 3px solid #f1f1f1;
}

.input {
    width: 100%;
    padding: 12px 12px;
    margin-: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    padding: 12px 12px;
    margin-: 8px 0;
    background-color: #4CAF50;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    float: none;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    position: relative;
    width:100%;
}

span.psw {
    float: right;
    padding-top: 16px;
    margin-left: -30%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    position: absolute;
    top: 20%;
    left:10%;
    bottom: auto;
    width: 80%; /* Full width */
    height: 20%%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    margin-left: -30%;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
<body>

 <h2 style="text-align:center;font-size: 3em;font-family:Lucida Caligraphy;">Login Form</h2>
 <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<%= form_for :home do |f| %>

<div id="id01" class="modal">
  
  <!-- <form class="modal-content animate" action="/action_page.php"> -->
  <div class="imgcontainer"> 
    <%=image_tag("img_avatar2.png" ,:alt => "Avatar",:class => "avatar")%>
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>

  <div class="container">
    <div class="input">
    <%= f.label :Username%><br>
    <%= f.email_field(:Email, {:class => 'input'})%>
</div>
<div class="input">
    <%= f.label :Password%><br>
    <%= f.password_field(:Password, {:class => 'input'})%>
    </div>
        <br>
         
    <%= f.submit(:Submit ,{:class => 'submit'})%><br>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
   
  </div>
<% end %> 

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a>password?</a></span>
  </div>
  <!-- </form> -->
</div>
  <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>
