



<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@product.img_url)%> 
</p>

<p>
  <strong>Type:</strong>
  <%= @product.filetype %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @product.img_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @product.uploaded_by %>
</p>

<p>
  <strong>Tutorial url:</strong>
  <%= @product.tutorial_url %>
</p>

<% if current_user &&current_user.admin?%><%end%>
<%= link_to 'Edit', edit_product_path(@product) %> 

                                    
<%= link_to 'Back', products_path %>
