
<body style="background-image:url(<%= asset_path '/images/bbg1.jpg' %>);">
 <div class="cd-hero">
 <nav class="navbar">
                    <div class="tm-navbar-bg">
                        <div>
                        <ul style="display: inline-table;">
                        <li class="navbar-brand text-uppercase" style="padding-top: 50px;font-family: lucida;font-size: 1.75em;">
                            <%=link_to "CREATIVES",root_path ,:style=>"color: black;"%></li>
                        <li class="navbar-brand text-uppercase" style="height: 110px; border-top: 5px solid #75f873;padding-top: 45px; ">
                            <%=link_to "UPLOAD",new_product_path,:style=>"color: #75f873;"%></li>
                        </ul>
                        </div>
                        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                            &#9776;
                        </button>
                        <div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active selected">
                                    <a class="nav-link" href="#0" data-no="1">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="2">PHOTOSHOP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="3">ILLUSTRATOR</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="4">JPGs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="5">PNGs</a>
                                </li>
                            </ul>
                        </div>                        
                    </div>
                </nav>
                
    <div class="container">
    <div class="row">
    <div class="navbar">
        <div class="panel panel-default panel-list" style="    background-color: rgba(255, 255, 255, 0.3);">
            <div class="panel-heading panel-heading-green">
                    <h3 class="panel-title">
                    <center>Photoshop Gallery</center>
                    </h3>
            </div>
            <div class="panel-body" style="background-image:url(<%= asset_path 'images/d.jpg' %>;">
            <% @products.in_groups_of(4, false).each do |group| %>
             <div class="row"> 
          <% group.each do |product| %>
            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-sm-offset-0 col-sm-6 col-xs-8 col-xs-offset-2">
            <div class="price">$<%= product.price %></div>
                 <% if current_user && current_user.admin?%>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%end%>
             <%= link_to image_tag(product.img_url), product%>

            <br><br>
                </div>
    <% end %>
<br>
                 
             </div>
                <%end%>
            </div>
        
        </div>
</div>
        </div>
        <footer class="tm-footer" style="padding-bottom: 0px">
            
                <div class="tm-social-icons-container text-xs-center">
                    <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="tm-social-link"><i class="fa fa-behance"></i></a>
                    <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
                </div>
            </footer>
        </div> <!-- .cd-hero -->
        </div>

        <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
         <!-- <div id="loader-wrapper">  
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>-->
            
        
        <script>

            function adjustHeightOfPage(pageNo) {

                var offset = 80;
                var pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .js-tm-page-content").height();

                if($(window).width() >= 992) { offset = 120; }
                else if($(window).width() < 480) { offset = 40; }
               
                // Get the page height
                var totalPageHeight = 15 + $('.cd-slider-nav').height()
                                        + pageContentHeight + offset
                                        + $('.tm-footer').height();

                // Adjust layout based on page height and window height
                if(totalPageHeight > $(window).height()) 
                {
                    $('.cd-hero-slider').addClass('small-screen');
                    $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", totalPageHeight + "px");
                }
                else 
                {
                    $('.cd-hero-slider').removeClass('small-screen');
                    $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", "100%");
                }
            }

            /*
                Everything is loaded including images.
            */
            $(window).load(function(){

                adjustHeightOfPage(1); // Adjust page height

                /* Gallery One pop up
                -----------------------------------------*/
                $('.gallery-one').magnificPopup({
                    delegate: 'a', // child items selector, by clicking on it popup will open
                    type: 'image',
                    gallery:{enabled:true}                
                });
        
        /* Gallery Two pop up
                -----------------------------------------*/
        $('.gallery-two').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    gallery:{enabled:true}                
                });

                /* Collapse menu after click 
                -----------------------------------------*/
                $('#tmNavbar a').click(function(){
                    $('#tmNavbar').collapse('hide');

                    adjustHeightOfPage($(this).data("no")); // Adjust page height       
                });

                /* Browser resized 
                -----------------------------------------*/
                $( window ).resize(function() {
                    var currentPageNo = $(".cd-hero-slider li.selected .js-tm-page-content").data("page-no");
                    
                    // wait 3 seconds
                    setTimeout(function() {
                        adjustHeightOfPage( currentPageNo );
                    }, 1000);
                    
                });
        
                // Remove preloader (https://ihatetomatoes.net/create-custom-preloading-screen/)
                $('body').addClass('loaded');
                           
            });

            /* Google map
            ------------------------------------------------*/
            var map = '';
            var center;

            function initialize() {
                var mapOptions = {
                    zoom: 15,
                    center: new google.maps.LatLng(37.769725, -122.462154),
                    scrollwheel: false
                };
            
                map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                google.maps.event.addDomListener(map, 'idle', function() {
                  calculateCenter();
                });
            
                google.maps.event.addDomListener(window, 'resize', function() {
                  map.setCenter(center);
                });
            }

            function calculateCenter() {
                center = map.getCenter();
            }

            function loadGoogleMap(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
                document.body.appendChild(script);
            }
        
            // DOM is ready
            $(function() {                
                loadGoogleMap(); // Google Map
            });

        </script>
    </div>

    <% if current_user && current_user.admin?%>
<%= link_to 'New Product', new_product_path %>
    <%end%>